<a href="https://colab.research.google.com/github/nity4jain/python_fallsem/blob/main/pYTHOn_repo_fall_sem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #Python prog to check whether the written number is palindrome or not 
number = int(input("Enter any number "))
reverse = 0
o = number

while number>0:
    d = number%10
    reverse = reverse*10+d
    number = number//10
    
if(o==reverse):
 print('number is palindrome')
else:
 print('number is not palindrome')

Enter any number 787
number is palindrome

In [ ]:
#Python prog to find maximum number in a list
def max_num_in_list( list ):
    max = list[ 0 ]
    for a in list:
        if a > max:
            max = a
    return max
print(max_num_in_list([4,10,-5,22]))

22

In [ ]:
#Python program to find the second largest number in a list
list_val = [20, 30, 40, 25, 10]  
list_val.sort()  
print("The second largest element of the list is:", list_val[-2])

The second largest element of the list is: 30

In [ ]:
a =[]
n = int(input('Enter number of elements'))
for i in range(1,n+1):
  b = int(input('Enter a element'))
  a.append(b)
even=[]
odd=[]
for j in a:
  if(j%2==0):
   even.append(j)
  else:
    odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements5
Enter a element6
Enter a element56
Enter a element56
Enter a element3
Enter a element12
The even list [6, 56, 56, 12]
The odd list [3]

In [ ]:
#Python program to merge two lists and sort it
a = []
c = []
n1= int(input('Enter number of elements: '))
for i in range(1,n1+1):
  b = int(input('Enter a element '))
  a.append(b)
n2 = int(input('Enter number of elements: '))
for i in range(1,n2+1):
    d = int(input('Enter a element '))
    c.append(d)
new = a + c
new.sort()
print('Sorted list is: ',new)

Enter number of elements: 3
Enter a element 56
Enter a element 67
Enter a element -21
Enter number of elements: 4
Enter a element 90
Enter a element 100
Enter a element 899
Enter a element -3345
Sorted list is:  [-3345, -21, 56, 67, 90, 100, 899]

In [ ]:
#Python program to sort the list according to the second element in sublist
a = [['A',34],['B',21],['c',26]]
for i in range(0,len(a)):
  for j in range(0,len(a)-i-1):
    if(a[j][1]>a[j+1][1]):
      temp = a[j]
      a[j]= a[j+1]
      a[j+1]=temp

print(a)

[['B', 21], ['c', 26], ['A', 34]]

In [ ]:
#Python prog to find the second largest number in a list using bubble sort
a =[]
n = int(input('Enter number of elements'))
for i in range(1,n+1):
  b = int(input('Enter a element'))
  a.append(b)
for i in range(0,len(a)):
  for j in range(0,len(a)-i-1):
    if(a[j]>a[j+1]):
     temp = a[j]
     a[j]= a[j+1]
     a[j+1]=temp
print('Second largest number is: ',a[n-2])

Enter number of elements4
Enter a element23
Enter a element34
Enter a element67
Enter a element0
Second largest number is:  34

In [ ]:
#Python prog to sort a list according to the length of the elements
a =[]
n = int(input('Enter number of elements:'))
for i in range(1,n+1):
  b = input("Enter elements")
  a.append(b)
a.sort(key=len)
print(a)

Enter number of elements:4
Enter elementsMy
Enter elementsname
Enter elementsis
Enter elementsnitya
['My', 'is', 'name ', 'nitya']

In [ ]:
#Python prog to find the union of two lists
l1=[]
num1=int(input('Enter size of list 1:'))
for n in range(num1):
  numbers1=int(input('Enter any number:'))
  l1.append(numbers1)
l2=[]
num2=int(input('Input size of list 2'))
for n in range(num2):
  numbers2=int(input('Enter any number:'))
  l2.append(numbers2)
union = list(set().union(l1,l2))
print('The Union of two lists is:',union)

Enter size of list 1:4
Enter any number:20
Enter any number:40
Enter any number:30
Enter any number:60
Input size of list 24
Enter any number:10
Enter any number:20
Enter any number:50
Enter any number:40
The Union of two lists is: [40, 10, 50, 20, 60, 30]

In [ ]:
#Python prog to find the intersection of two lists

def intersection(a,b):
 return list(set(a)&set(b))

def main():
  alist=[]
  blist=[]
  n1=int(input('Enter number of elements for list1: '))
  n2 = int(input('Enter numbber of elements for list2: '))
  print("For List1: ")
  for x in range(0,n1):
   element=int(input("Enter elements"+str(x+1)+":"))
   alist.append(element)

  print("For List2: ")
  for x in range(0,n2):
   element=int(input("Enter elements"+str(x+1)+":"))
   blist.append(element)
  print("The intersection is:")
  print(intersection(alist,blist))
main()

Enter number of elements for list1: 2
Enter numbber of elements for list2: 3
For List1:
Enter elements1:-12
Enter elements2:23
For List2:
Enter elements1:90
Enter elements2:23
Enter elements3:-12
The intersection is:
[-12, 23]

In [ ]:
#Python prog to print all odd indexed elements of a list

arr = []
print("Enter 10 numbers: ")
for i in range(10):
  arr.insert(i,int(input()))

print("\nNumbers at Odd Positions: ")
for i in range(10):
  if i%2!=0:
   print(arr[i])

Enter 10 numbers:
1
2
3
4
5
6
7
8
9
10

Numbers at Odd Positions:
2
4
6
8
10

In [ ]:
#Python prog to find frequency of each digit in a given integer
num = int(input('Enter any number'))
print('Digit\tFrequency')
for i in range(0,10):
 c = 0;
 temp = num;
 while temp>0:
  d = temp%10
  if d ==i:
    c+=1
  temp = temp//10;
 if c>0:
    print(i,"\t",c)

Enter any number454674352654
Digit	Frequency
2 	 1
3 	 1
4 	 4
5 	 3
6 	 2
7 	 1

In [ ]:
print("hello world")

In [ ]:
#Python prog to find all factors of a number
num=int(input('Enter a number'))
for i in range(1,num+1):
 if (num%i==0):
    print(i)

Enter a number786
1
2
3
6
131
262
393
786

In [ ]:
#Python prog to print all prime  nos b/w 1-n
n =int(input('Enter any number'))
c=0
for i in range(1,n+1):
    if(n%i==0):
        c+=1
if c==2:
 print('number is prime')
else:
 print('number is not prime')

Enter any number67
number is prime

In [ ]:
#Python prog to print fibonacci
n = int(input('How many terms?'))

n1,n2=0,1
count=0

if n<=0:
    print('Please enter a positive integer')
elif n ==1:
    print(n1)
else:
    print('Fibonacci sequence')
    while(count<n):
        print(n1)
        nth = n1+n2
        n1=n2
        n2=nth
        count+=1

How many terms?8
Fibonacci sequence
0
1
1
2
3
5
8
13

In [ ]:
t = ("w",3,'r',"e","s","o","u","r","c","e")
print(t)
i = t[3]
print("4th element from tuple: ",i)
j=t[-4]
print("4th element from the last of the tuple: ",j)

('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')
4th element from tuple:  e
4th element from the last of the tuple:  u

In [ ]:
tuplex = 2,4,5,6,2,3,4,4,7
print(tuplex)
count= tuplex.count(4)
print(count)

(2, 4, 5, 6, 2, 3, 4, 4, 7)
3

In [ ]:
tuplex = ("w",3,'r',"e","s","o","u","r","c","e")
print("r" in tuplex)
print(5 in tuplex)

True
False

In [ ]:
I = [(1,2),(3,4),(8,9)]
print(list(zip(*I)))

[(1, 3, 8), (2, 4, 9)]

In [ ]:
I = [(10,20,40),(40,50,60),(70,80,90)]
print([t[:-1] + (100,)for t in I ])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
L = [(),(),('a'),('a','b'),('a','b','c'),('d')]
L = [t for t in L if t]
print(L)

['a', ('a', 'b'), ('a', 'b', 'c'), 'd']

In [ ]:
l = [("x",1),("x",2),("x",3),("y",1),("y",2),("z",1)]
d = {}
for a,b in l:
  d.setdefault(a,[]).append(b)
print(d)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

In [ ]:
from heapq import nlargest
my_dict = {'a':500,'b':5874,'c':560,'d':400,'e':5874,'f':20}
three_largest = nlargest(3,my_dict,key=my_dict.get)
print(three_largest)

['b', 'e', 'c']

In [ ]:
#Python function that prints out the first n rows of pascals triangle
def pascal_triangle(n):
   trow = [1]
   y = [0]
   for x in range(max(n,0)):
      print(trow)
      trow=[l+r for l,r in zip(trow+y, y+trow)]
   return n>=1
pascal_triangle(6)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

True

In [ ]:
#Python list with square of values from 1-30
def printValues():
       l = list()
       for i in range(1,21):
          l.append(i**2)
       print(l)

printValues()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
#Python program to detect the number of local variables in a function
def abc():
  x = 1
  y = 2
  str1 = "w3resource"
  print("Python Excercises")


print(abc.__code__.co_nlocals)

3

In [ ]:
#Python program that invoke a function after specific milliseconds
from time import sleep 
import math
def delay(fn, ms, *args):
  sleep(ms/1000)
  return fn(*args)
print("Square root after specifuc milliseconds: ")
print(delay(lambda x: math.sqrt(x), 100,16))
print(delay(lambda x: math.sqrt(x), 1000,100))
print(delay(lambda x: math.sqrt(x), 2000,25100))

Square root after specifuc milliseconds:
4.0
10.0
158.42979517754858

In [ ]:
#Python program to get the sum of non-negative integer
def sumDigits(n):
  if n ==0:
    return 0
  else:
    return n%10 + sumDigits(int(n/10))

print(sumDigits(345))
print(sumDigits(45))

12
9

In [ ]:
n = int(input("Enter a number "))
if(n>=20 and n<=40):
 print("GOOD MORNING")
elif(n>=41 and n<=60):
 print("GOOD AFTERNOON")
elif(n>=61 and n<=80):
 print("GOOD EVENING")
else:
 print("ALL ARE GOOD")

Enter a number 199
ALL ARE GOOD

In [ ]:
n = int(input("Enter a number"))
fact=1
i=1
while(i<=n):
  fact = fact*i
  i=i+1
print("Factorial of ",n," is ",fact)

Enter a number6
Factorial of  6  is  720

In [ ]:
rows = 5
for i in range(1,rows+1):
  for j in range(1,i+1):
    print(1,end="")
  print()

1
11
111
1111
11111

In [ ]:
rows = 5
for i in range(1,rows+1):
 for j in range(rows,0):
  print(1,end="")
print()

In [ ]:
rows = 5
for i in range(1,rows+1):
 for j in range(1,rows-i+2):
   print(1,end="")
 print()

11111
1111
111
11
1

In [ ]:
import re
pattern = '^a...s$'
test_string = "abyss"
result = re.match(pattern,test_string)
if result:
  print("Search successful")
else:
  print("Search unsuccessful.")

Search successful

In [ ]:
m = int(input("Enter a month "))
if (m>=3 and m<=5):
  print("Season: Spring ")
elif(m>=6 and m<=8):
  print("Season: summer")
elif(m>=9 and m<=11):
  print("Season: Autumn")
elif(m>=12 and m<=2):
  print("Season: Winter")
else:
  print("Invalid Month")

Enter a month 11
Season: Autumn

In [ ]:
n = int(input("Enter the number of tickets : "))
r = input("Do you want refreshments? ")
cc = input("Do you have a coupon code? ")
c = input("Enter the circle: ")

if(n>=5 and n<=40):
  if(n>=20 and c=='k'):
    d = 0.1*75*n
    cost = (75*n)-d
  elif(n>=20 and c=='q'):
    d = 0.1*150*n
    cost = (150*n)-d
  if(cc=='y'):
    d = 0.02*n*cost
    cost = cost - d

  if(r=='y'):
    cost = cost+50*n


else:
  print("Minimum of 5 and maximum of 40 Tickets")

print("Ticket Cost: ",cost)

Enter the number of tickets : 35
Do you want refreshments? y
Do you have a coupon code? y
Enter the circle: k
Ticket Cost:  2458.75

In [ ]:
n = int(input("Number of rows "))
alpha = 65
for i in range(1,n+1):
  for j in range(1,i+1):
    print(chr(alpha),end="")
    alpha = alpha+1
  print()

Number of rows 5
A
BC
DEF
GHIJ
KLMNO

In [ ]:
n = int(input("First Number "))
m = int(input("Second Number "))
carry = 0
sum = 0
soc =0
while(m>=0):
  while(n>=0):
   d1 = m%10
   d2 = n%10
   sum = d1+d2+soc
   carry = sum//10
   m = m//10
   n = n//10
   soc = soc + carry

print(soc)

In [ ]:
15>>3

1

In [ ]:
~18

-19

In [ ]:
~8

-9

In [ ]:
~21

-22

In [ ]:
25^34

59

In [ ]:
9&&4

SyntaxError: ignored

In [ ]:
4|5

5

In [ ]:
print (a)

NameError: ignored

In [ ]:
24^44

52

In [ ]:
5|7

7

In [ ]:
a,b,c=4,5,6

In [ ]:
x =10
print(type(x))

<class 'int'>

In [ ]:
2.0/3

0.6666666666666666

In [ ]:
2.0//10

0.0

In [ ]:
digits =[0,1,5]

for i in digits:
  print(i)
print("No items left")

0
1
5
No items left

In [ ]:
for val in "string":
  if val =="i":
    pass
  print(val)

print("The end")

s
t
r
i
n
g
The end

In [ ]:
import re
pattern="^a...s$"
s = "abyss"
result = re.match(s,pattern)

if result:
  print("successful")

In [ ]:
rows = 4
for i in range(0,rows+1):
  for j in range(0,i):
    print("*",end="")
  print()

*
**
***
****

In [ ]:
rows = 4
x =1
for i in range(0,rows+1):
  for j in range(0,i):
    print(x,end="")
    x = x+1
  print()

1
23
456
78910

In [ ]:
rows = 4
for i in range(0,rows+1):
  for j in range(0,i):
    print(i,end="")
  print()

1
22
333
4444

In [ ]:
n = int(input("Enter number of rows "))
for i in range(0,n+1):
  for j in range(0,i):
    print(i,end="")
  print()

Enter number of rows 8

1
22
333
4444
55555
666666
7777777
88888888

In [ ]:
rows = 5
for i in range(1,rows):
  for j in range(1,rows-i): 
   print("*",end=" ")
  print()

* * *
* *
*

In [ ]:
n = int(input("Enter a number"))
for i in range(1,n+1):
  for j in range(1,n+1):
    print("*",end="")
  print()

Enter a number6
******
******
******
******
******
******

In [ ]:
n = int(input("Enter a number"))
for i in range(n):
 for j in range(n):
   if i==0 or i==n-1 or j==0 or j == n -1:
    print("*",end = " ")
   else:
    print(" ",end=" ")
 print()

Enter a number5
* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
n = int(input("Enter number of rows "))
for i in range(n):
 for k in range(1,n-i):
  print(" ",end="")
 for j in range(0,i+1):
  print("*",end="")
 print()

Enter number of rows 5
    *
   **
  ***
 ****
*****

In [ ]:
n = int(input("Enter the number of rows "))
for i in range(0,n+1):
  for j in range(0,i):
    print(" ",end ="")
  for k in range(1,n-i):
    print("*",end="" )
  print()

Enter the number of rows 5
****
 ***
  **
   *

In [ ]:
n = int(input("Enter a number"))
for i in range(1,n+1):
  for j in range(n-i):
    print(" ",end="")
  for k in range(2*i-1):
    print("*",end="")
  print()

Enter a number5
    *
   ***
  *****
 *******
*********

In [ ]:
x1 = int(input("Enter the x coordinate of the top left corner of the rectangle"))
y1 = int(input("Enter the y coordinate of the top left corner of the rectangle"))
w = int(input("Enter the width "))
h = int(input("Enter the height "))
xp = int(input("Enter the x coordiante you need to find"))
yp = int(input("Enter the y coordinate you need to find"))
if(xp>x1 and xp<(x1+w) and yp>y1 and yp<(y1+h)):
 print("Point lies inside the rectangle ")
else:
 print("Point lies outside the rectangle")

Enter the x coordinate of the top left corner of the rectangle40
Enter the y coordinate of the top left corner of the rectangle20
Enter the width 60
Enter the height 40
Enter the x coordiante you need to find120
Enter the y coordinate you need to find50
Point lies outside the rectangle

In [ ]:
sum = 0
for i in range(200):
 multiple = 3*i
 if (multiple<=500):
  sum = sum+multiple
print("Sum of 3's multiples less than 500",sum)

Sum of 3's multiples less than 500 41583

In [ ]:
-34//5
25^34

-7

In [ ]:
count = 5
while(count>1):
  print(count,end=" ")
  count-=1
print()

5 4 3 2

In [ ]:
n = int(input("Enter the number of rows "))
for i in range(0,n):
  for k in range(n-i):
    print(" ",end="")
  for j in range(1,i+1):
    print(j,end="")
  print()

Enter the number of rows 4

   1
  12
 123

In [ ]:
for i in range(6):
  p = 64+i
  for j in range(1,i+1):
    print(chr(p),end=" ")
    p = p+1
  print()

A
B C
C D E
D E F G
E F G H I

In [ ]:
a = 20
c= a//10
print(c)

2

In [ ]:
a,b = 450,16
while(a!=0):
  num = b-a
  a = a//10
print(num)

12

In [ ]:
n = int(input("Enter a number"))
sum = 0
term = 1
for i in range(2,n+1):
  term = term*(i+1)
  print(term,"+",end="")
  sum = sum+term
  term = term+1
print("="," ",sum)

Enter a number5
3 +16 +85 +516 +=   620

In [ ]:
n = int(input("Enter the number of days "))
TP = 0.0
if(n<=5):
  TP = 5*n
if(n>5 and n<=15):
  TP = TP+(7*(n-5))
if(n>15 and n<=35):
  TP = TP+(10*(n-15))
if(n>55):
  TP=TP+(12*(n-35))
print("Total payable amount",TP)

Enter the number of days 25
Total payable amount 100.0

In [ ]:
n = 5
for i in range(0,n+1):
  for k in range(0,n-i):
    print("*",end="")
  for j in range(0,):

SyntaxError: ignored

In [ ]:
def harmonic_sum(n):
  if n<2:
    return 1
  else:
    return 1/n + (harmonic_sum(n-1))


print(harmonic_sum(7))
print(harmonic_sum(4))

2.5928571428571425
2.083333333333333

In [ ]:
def sum_series(n):
  if n<1:
    return 0 
  else:
    return n + sum_series(n-2)

print(sum_series(6))
print(sum_series(10))

12
30

In [ ]:
def gcd(a,b):
  if(b==0):
    return a
  else:
    return gcd(b,a%b)
a = int(input("Enter First Number: "))
b = int(input("Enter second number : "))
GCD = gcd(a,b)
print("GCD IS : ")
print(GCD)

Enter First Number: 5
Enter second number : 15
GCD IS :
5

In [ ]:
def insertionSortRecursive(arr,n):
 if n<=1:
  return
 insertionSortRecursive(arr,n-1)
 last = arr[n-1]
 j = n -2
 while(j>=0 and arr[j]>last):
  arr[j+1]=arr[j]
  j = j -1
  arr[j+1]=last

arr = [1,5,3,4,8,6,3,4,5]
n = len(arr)
insertionSortRecursive(arr,n)
print("Sorted Array is: ")
for i in range(n):
  print(arr[i],end=" ")

Sorted Array is:
1 3 3 4 4 5 5 6 8

In [ ]:
string = input("Enter String ")
string = string.replace('a','b')
string = string.replace("A","B")
print("Modified String ")
print(string)

Enter String Apple
Modified String
Bpple

In [ ]:
def remove(string, n):  
      first = string[:n]   
      last = string[n+1:]  
      return first + last
string= input("Enter the string:")
n=int(input("Enter the index of the character to remove:"))
print("Modified string:")
print(remove(string, n))

Enter the string:Hello
Enter the index of the character to remove:3
Modified string:
Helo

In [ ]:
s1=input("Enter first string:")
s2=input("Enter second string:")
if(sorted(s1)==sorted(s2)):
      print("The strings are anagrams.")
else:
      print("The strings aren't anagrams.")

Enter first string:anagram
Enter second string:nagaram
The strings are anagrams.

In [ ]:
def change(string):
      return string[-1:] + string[1:-1] + string[:1]
string=input("Enter string:")
print("Modified string:")
print(change(string))

Enter string:abcd
Modified string:
dbca

In [ ]:
print("Hello")

Hello

In [ ]:
num = [[num1,num2,num3,num4,num5] for num1 in range(5) for num2 in range(5)for num3 in range(5)for num4 in range(5)for num5 in range(5)]
for i in range (5):
  print(num[i],",")
  print()

[0, 0, 0, 0, 0] ,

[0, 0, 0, 0, 1] ,

[0, 0, 0, 0, 2] ,

[0, 0, 0, 0, 3] ,

[0, 0, 0, 0, 4] ,

In [ ]:
a=eval(input("Enter  some of tuple numbers"))
l=len(a)
sum=0
sub =0
multy=1
d = 1
for x in a:
    sum=sum+x
for x in a:
   sub = sub - x
for x in a:
   multy=multy*x
for x in a:
  d = x/d
print("The sum=",sum)
print("The Subtraction=",sub)
print("Tne Multiplication=",multy)
print("The Divison = ",d)

Enter  some of tuple numbers10,20,30
The sum= 60
The Subtraction= -60
Tne Multiplication= 6000
The Divison =  15.0

In [ ]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers.issuperset(scores)

print(result)

True

In [ ]:
test_tup = (10, 4, 5, 6, 8)

print("The original tuple : " + str(test_tup))
ele = int(input("Enter a element "))
 
N = 6
 
res = False
for i in test_tup:
    if i == ele:
        res = True
        break
 
print("Does tuple contain required value ? : " + str(res))

The original tuple : (10, 4, 5, 6, 8)
Enter a element 2
Does tuple contain required value ? : False

In [ ]:
class students:
    count = 0
    def __init__(self, name):
        self.name = name
        self.marks = []
        students.count = students.count + 1
        
    def enterMarks(self):
        for i in range(3):
            m = int(input("Enter the marks of %s in %d subject: "%(self.name, i+1)))
            self.marks.append(m)
            
    def display(self):
        print (self.name, "got ", self.marks)
             
name = input("Enter the name of Student:")
s1 = students(name)
s1.enterMarks()
s1.display()
print ("")
s2.displayCount()